.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  height: 220px;
  justify-content: space-evenly;
}

.sign-in-submit-button {
  width: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-password-container {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: flex-start;
}
