<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./grqer.css">
</head>

<body>
  <div id="books">
    <h2 class="text-center">Books</h2>

    <div id="accordion">
      <!-- Book 1 -->
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              The 7 Habits of Highly Effective People" by Stephen R. Covey </a>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="https://icrrd.com/public/media/01-11-2020-212827The%207%20Habits%20of%20Highly%20Effective%20People.pdf"
              target="_blank">
              Կարդալ։ </a> <br>
            Այս դասական գիրքը գործնական խորհուրդներ է տալիս անձնական արդյունավետության վերաբերյալ՝ կենտրոնանալով ինչպես
            անձնական, այնպես էլ մասնագիտական ​​հաջողությունների հասնելու սկզբունքների վրա:
          </div>
        </div>
      </div>

      <!-- Book 2 done-->
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              "Think and Grow Rich" by Napoleon Hill
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="https://apex.oracle.com/pls/apex/lonestar/r/files/static/v13Y/Think-And-Grow-Rich_2011-06.pdf"
              target="_blank">
              Կարդալ։ </a> <br>
            Այս ազդեցիկ գիրքն ուսումնասիրում է դրական մտածողության ուժը և հաջողության սկզբունքները, որոնք հիմնված են
            Էնդրյու Քարնեգիի և Թոմաս Էդիսոնի նման հաջողակ անհատների հետ հարցազրույցների վրա:
          </div>
        </div>
      </div>
      <!-- 3 done-->
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              "Steve Jobs" by Walter Isaacson
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="https://ia904703.us.archive.org/22/items/mastery-by-robert-greene-urdukutabkhanapk/23%20To%2026%20Oct-2021%20-Misc%20English%20Books/Steve%20Jobs%20By%20Walter%20Isaacson_urdukutabkhanapk.pdf"
              target="_blank">
              Կարդալ։ </a> <br>
            Այս կենսագրությունը համապարփակ պատկերացում է տալիս Apple Inc.-ի համահիմնադիր Սթիվ Ջոբսի և տեխնոլոգիայի
            ամենաազդեցիկ դեմքերից մեկի կյանքի և կարիերայի մասին:
          </div>
        </div>
      </div>
      <!-- 4 done-->
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              "Leonardo da Vinci" by Walter Isaacson
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="https://www.fatsnake.com/PDF/LeonardodaVinci.pdf" target="_blank">
              Կարդալ։ </a> <br>
            Ուոլտեր Այզեքսոնը խորանում է Վերածննդի դարաշրջանի հայտնի նկարիչ և գյուտարար Լեոնարդո դա Վինչիի կյանքի մեջ՝
            ուսումնասիրելով նրա ստեղծագործական հանճարը և նրա ստեղծագործության մնայուն ազդեցությունը:
          </div>
        </div>
      </div>
      <!-- 5 done -->
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              "The Diary of a Young Girl" by Anne Frank
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="http://www.rhetorik.ch/Aktuell/16/02_13/frank_diary.pdf" target="_blank">
              Կարդալ։ </a> <br>
            Այս օրագիրը, որը գրել է Աննա Ֆրանկը, երբ նա թաքնվում էր նացիստներից Երկրորդ համաշխարհային պատերազմի ժամանակ,
            տրամադրում է նրա կյանքի և մտքերի ցնցող պատմությունը, որը հնարավորություն է տալիս մի հայացք նետել պատմության
            ամենաողբերգական ժամանակաշրջաններից մեկին:
          </div>
        </div>
      </div>

      <!-- 6 -->

      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              "The Magic of Thinking Big" by David J. Schwartz
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="https://books.google.am/books?id=VaPNBAAAQBAJ&printsec=frontcover&source=gbs_book_other_versions_r&redir_esc=y#v=onepage&q&f=false"
              target="_blank">
              Կարդալ։ </a> <br>
            Այս գիրքը խրախուսում է ընթերցողներին դրական մտածել, դնել հավակնոտ նպատակներ և քայլեր ձեռնարկել իրենց
            երազանքներին հասնելու համար՝ առաջարկելով գործնական ռազմավարություններ անձնական և մասնագիտական ​​աճի համար:
          </div>
        </div>
      </div>


    </div>
    <button class="butt"><a href="./motivacia.html">Վերադառնալ</a></button>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>